<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<title>결재문서관리(워크플로우 문서 관리)</title>
<!-- jquery를 사용하기 위한 작성 -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>

<!-- 합쳐지고 최소화된 CSS -->
<link rel="stylesheet" th:href="@{https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css}">
<!-- 합쳐치고 최소화된 자바스크립트 -->
<script th:src="@{https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/js/bootstrap.min.js}"></script>
<script>
	$(document).ready(function() {
		// 기안문서삭제
		$('#btnRemove').on('click',function() {
			let ck = new Array();
			$('.ck:checked').each(function(index, item) {
				ck.push($(item).val());
			});
			
			console.log('삭제버튼 클릭');
			$.ajax({
				url:'/removeDraftDocument'
				, type : 'POST'
				, data:{'ck':ck}
				, success:function() {
					console.log('삭제 성공');
				}
			});
		});
	});
</script>
</head>
<body>
<div class="container">
<h2>결재문서관리(워크플로우 문서 관리)</h2>
	<button type="button" id="btnRemove">삭제</button>
	<table style="width:100%">
		<tr>
			<th></th>
			<th>상태</th>
		  	<th>문서명</th> 
		   	<th>기안자</th>
		   	<th>기안일</th>
		   	<th>최종승인자</th>
		   	<th>최종승인일</th>
		</tr>
		<tr th:each="list : ${list}">
			<td><input type="checkbox" class="ck" value="${list.draftDocumentCode}"></td>
			<td th:text="${list.draftDocumentStatus}"></td>
			<td>
				<a th:href="@{/boardDetail(draftDocumentCode = ${list.draftDocumentCode})}">
					<th:block th:text="${list.draftDocumentFileSaveName}"></th:block>
				</a>
			</td>
			<td th:text="${list.draftDocumentMemberName}"></td>
			<td th:text="${list.draftDocumentDate}"></td>
			<td th:text="${list.draftDocumentFinalApprovalMemberName}"></td>
			<td th:text="${list.draftDocumentFinalApprovalDate}"></td>
		</tr>
	</table>
</div>
</body>
</html>